.Coatlalopeuh {
    margin-bottom: 200px;
}

.Tonantzin {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container width */
    height: auto;
    align-items: center;

    margin-bottom: 200px;

}
#tepeyac{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
}

#nahua {
    font-size: larger;
}
#video{
    justify-content: center;
    margin-left: 375px;
}
#video_title{
    text-align: center;
    justify-content: center;
    
}


.Coatlicue {
    
    margin-bottom: 200px;

}

.Tlazolteotl {
    margin-bottom: 200px;

}

.Cihuacoatl {
    margin-bottom: 200px;

}