body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.ibb.co/TWjN5WD/Untitled-Artwork-2023-12-01-08-04-42.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;

}

.centered-text {
  margin: 0;
  /* Reset default margin to prevent unwanted space */
  text-decoration: none;
  /* Remove underline from the link */
  padding: 10px;
  /* Add padding for better visibility */
  border: 4px solid #ffffff;
  /* Add a border for better visibility */
  box-shadow: 6px 5px 5px black;
  color: #ffffff;
  /* Set the text color to a shade of blue */
  font-size: 48px;
  /* Set the font size to 18 pixels */
  font-family: serif, sans-serif;
  font-weight: bold;
  text-shadow: 5px 5px 6px rgb(6, 6, 6);
}